* {
    box-sizing: border-box;
    font-family: Cambria;
    font-size: 16px;
}

form {
    width: 35%;
    border: 1px solid darkgray;
    background-color: #f5f5f5;
    border-radius: 5px;
    margin: 50px auto; /* Center the form on the page */
}

label {
    float: left;
    width: 100px;
    text-align: right;
    margin-right: 20px;
}

.row {
    padding: 10px;
}

div[id*="error"] {
    margin-left: 130px;
    color: red;
}

div[id^="div_"] {
    display: inline-block;
    padding: 5px;
    background-color: #fff;
    border-radius: 4px;
}

input[type="text"],
input[type="date"],
input[type="password"],
select[type="country"] {
    border: none;
    width: 300px;
}

textarea {
    margin-left: 120px;
}

input[type="checkbox"] {
    margin-left: 130px;
}

#button {
    margin-left: 130px;
}

.border-error {
    border: 1px solid red;
}

.border-success {
    border: 1px solid green;
}

.color-error {
    color: red;
}

.color-success {
    color: green;
}
